@import "base.css";


.main {
    background-image: url("../img/casino.webp");
}


#map {
    width: 100%;
    height: 50vh;
}

.wrapper {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.wrapper__map {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper__description {
    padding: 15px;
    align-items: center;
}


.wrapper__description table {
    margin: 0 auto;
}