@import "base.css";


.main {
    background-image: url("../img/books-background.jpg");
}


.wrapper p {
    margin: 0 0 2em 0;
}

.wrapper ul {
    margin-left: 2em;
}


.wrapper__reg_form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    width: 100%;
    background-color: papayawhip;
    padding: 25px;
    border-radius: 5%;
}

.wrapper__reg_form h2 {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.wrapper__reg_form .input_field {
    margin-bottom: 10px;
}

.wrapper__reg_form .input_field input[type="text"],
.wrapper__reg_form .input_field input[type="password"] {
    width: 100%;
    padding: 10px;
}

.wrapper__reg_form input[type="submit"] {
    border: 0;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #fece0c;
    color: #332902;
    text-transform: uppercase;
    font-weight: 1000;
    border-radius: 25px;
    cursor: pointer;
}

.wrapper__reg_form #error_message {
    margin-bottom: 20px;
    padding: 0;
    background: #fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}