@import "base.css";


.main {
    background-image: url("../img/books-background.jpg");
}


.wrapper p {
    margin: 0 0 2em 0;
}

.wrapper ul {
    margin-left: 2em;
}

.rounded {
    border-radius: 10px;
    -webkit-box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
    box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.38);
}


.reg_form_container {
    max-width: 450px;
    padding: 20px;
    margin: 50px auto auto;
    border: 1px solid #ccc;
    background: white;
}

.reg_form_container input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.reg_form_container select {
    width: 18%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.reg_form_container input[type=phone] {
    width: 81%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f7f7f7;
}

.reg_form_container input[type=text]:focus, input[type=password]:focus, input[type=phone]:focus, select:focus {
    background-color: #ddd;
    outline: none;
}


.reg_form_container button {
    background-color: #0eb7f4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 16px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.reg_form_container button:hover {
    opacity: 1;
}


.wrapper__reg_form #error_message {
    margin-bottom: 20px;
    padding: 0;
    background: #fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}

.wrapper__closed {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.wrapper__closed p {
    margin: auto;
}

#wrapper__closed {
    display: none;
}

.wrapper__current_time {
    background-color: white;
    padding: 30px;
    margin-bottom: 10px;
}

#session_length_selector {
    width: 100%;
}

.wrapper__session_timer {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.wrapper__session_timer p {
    margin: auto;
}

#wrapper__session_timer {
    display: none;
}


.wrapper__profile {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

#wrapper__profile {
    display: none;
}

.wrapper__change_color {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

#wrapper__change_color {
    display: none;
    margin-bottom: auto;
}
