@import "base.css";
@import "common/profile.css";

.wrapper p {
    margin: 0 0 2em 0;
}

.wrapper ul {
    margin-left: 2em;
}

.main {
    min-width: 625px;
}


h1 {
    font-family: Satisfy, serif;
    font-size: 50px;
    text-align: center;
    color: black;
    padding: 1%;
}


.wrapper__login_required {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
}

.wrapper__game {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

#wrapper__game {
    display: none;
}

#memory_board {
    text-align: center;
}

div#memory_board > div {
    display: inline-block;
    border: darkcyan 1px solid;
    width: 71px;
    height: 71px;
    margin: 10px;
    padding: 24px;
    text-align: center;
    color: white;
}
