@import "base.css";
@import "common/profile.css";

.wrapper p {
    margin: 0 0 2em 0;
}

.wrapper ul {
    margin-left: 2em;
}

.main {
    min-width: 625px;
}


h1 {
    font-family: Satisfy, serif;
    font-size: 50px;
    text-align: center;
    color: black;
    padding: 1%;
}


.wrapper__login_required {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
}

.wrapper__game {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}

#wrapper__game {
    display: none;
    transition: 0.5s;
}

#game_items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game_item {
    display: flex;
    justify-content: center;
}

.game_item img {
    width: 100px;
    height: 100px;
    margin: 15px;
    object-fit: contain
}

#bet_input {
    width: 50%;
}

#bet_amount_input {
    width: 100%;
}